In [4]:
import pandas as pd

In [2]:
ls /Users/admin/pracKMA/

101027_Ctrl_LSJ2_current.csv  101027_Ctrl_LSJ2_out.csv

In [3]:
!open /Users/admin/pracKMA/101027_Ctrl_LSJ2_current.csv

In [8]:
df =pd.DataFrame([28,27,25],
            ['kangik','DH','TW'])

In [9]:
df

         0
kangik  28
DH      27
TW      25

In [12]:
df.columns = ['age']

In [13]:
df

        age
kangik   28
DH       27
TW       25

In [14]:
df_sex =pd.DataFrame(['M','F','M'],
            ['kangik','DH','TW'])

In [15]:
df_sex

        0
kangik  M
DH      F
TW      M

In [16]:
df_sex.columns = ['sex']

In [17]:
df_sex

       sex
kangik   M
DH       F
TW       M

In [ ]:
pd.merge(df_sex,df,
        left_index='on',
        right_index='on')